<!doctype html>
<html>
<head>
<title>书趴网 |书趴-最有深度的校园陌生人社交平台丨唯有读书·交友才靠谱</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="书趴是一款基于图书及图书馆场景的校园陌生人社交app，以图书交友为基础，让用户放下对陌生人的戒备，并将社交场景设定在校园图书馆也可以提高女性用户使用的安全感。" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--flexslider-css-->
<!--bootstrap-->

<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

<link href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<!--coustom css-->
<link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet" type="text/css"/>
<!--fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,800italic,800,700italic,700,600,600italic' rel='stylesheet' type='text/css'> -->
<!--/fonts-->
<!--script-->
<script src="{{ url_for('static', filename='/js/jquery.min.js') }}"> </script>
	<!-- js -->
		 <script src="{{ url_for('static', filename='/js/bootstrap.js') }}"></script>
	<!-- js -->
	<!-- js -->
		<script type="text/javascript" src="{{ url_for('static', filename='/js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/js/easing.js') }}"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--/script-->
	</head>
	<body>
		<div class="header" id="home">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="../static/images/u19.png" height="80" width="80" alt="logo"></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
							</ul>
							<div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
						<div class="clearfix"></div>
				</div><!-- /container-fluid -->
			</nav>
			<div class="header-banner">
					<!-- Top Navigation -->
					<div class="container page-seperator">
					<section class="color bgi">
						<div class="container">
						<div class="banneer-text">
						<h3>唯有读书</h3>
						<h4>交友才靠谱</h4>
						<button type="button" class="btn btn-warning but1"><a href="http://fir.im/ibookpa" style="color: #FFF">立即下载</a></button>
						</div>

						<div class="clearfix"> </div>
					</section>
					<section class="col-3 ss-style-doublediagonal our-features">
							<div class="container">
							</br>
							<h2>团队简介</h2>
							<p>一群拒绝墨守成规的年轻人，在一座城市、一所大学、一幢教学楼里的故事</p>
							<div class="col-md-4 column our-feat">
									<h3>团队创立于2014年3月</h3>
									<p>在2014年3月份在黑龙江大学一家咖啡厅团队组建创立，最初命名为“互联黑大”</p>
								</div>
										<div class="col-md-4 column our-feat">
									<h3>公司注册于2014年8月</h3>
									<p>在2014年8月正式注册为哈尔滨书趴科技有限公司</p>
								</div>
										<div class="col-md-4 column our-feat">
									<h3>产品上线于2015年12月</h3>
									<p>书趴产品几经转型，经历了从微信、web网站到手机APP的转变，最终于2015年12月份上线</p>
								</div>
							</div>
							<div class="clearfix"> </div>
					</section>
					</div>
					</div>
				</div>
				<div class="index-abt">
					<div class="container">
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-euro"> </i></div>
								<h3>产品设计部</h3>
								<p>负责书趴科技旗下产品的需求调研、需求分析、产品设计、产品优化和项目管理等工作。</p>

						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-share"> </i></div>
								<h3>移动研发部</h3>
								<p>负责书趴科技旗下移动产品的技术实现、优化升级、产品迭代等工作。</p>
						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-screenshot"> </i></div>
								<h3>web研发部</h3>
								<p>负责书趴科技旗下web产品的前端开发、服务器搭建、基础运维等工作。</p>
						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-btc"> </i></div>
								<h3>运营策划部</h3>
								<p>负责书趴科技旗下产品推广、微信公众号、商城类、社群类产品的运营编辑等工作。</p>
						</div>
					</div>
				</div>
<div class="index-p">
	<div class="container">
		<div class="col-md-6 green-gird">
			<img src="static/images/index-p.jpg"  alt=""/>
			<img src="static/images/index-p1.jpg" alt="" />
		</div>
		<div class="col-md-6 index-ptext">
			<h3>产品介绍</h3>
			<p>书趴科技团队发展几年间参与设计和开发过多款产品，其中包括：校园数据可视化分析平台、周期闹钟、友时商城、书趴共读、黑大盒子、咏俄APP 等。这些产品或项目的设计、开发、运营为团队在校生实践积累提供了良好的平台和环境。团队成员也因此获得更多的学习、交流的机会，最终都输出到各大互联网公司担任重要角色。</p>
		</div>
	</div>
</div>
<div class="clearfix"> </div>
<div class="index-works">
	<div class="container">

			<div class="col">
				<div class="col2">
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/sp.jpg" alt=""/>
							<figcaption>
								<h4>书趴APP</h4>
								<p>基于兴趣和图书馆场景的校园社交软件</p>
							</figcaption>
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>书趴APP</h3>
							<p>书趴是一款可以发布一起去图书馆看书、自习、交换旧书、求得教材的邀约，见面场景为用户附近的图书馆，既保障了用户安全又营造了自然的话题。</p>
						</div>
					</div>
					<div class="col-md-4 col1" onclick="window.location.href='static/sy.html';">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/sy.jpg"/>
							<figcaption>
								<h4>生源可视化展示系统</h4>
								<p>通过数据可视化的形式直观展示生源情况</p>
							</figcaption>
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>黑大生源可视化展示系统</h3>
							<p>通过数据可视化的形式，使黑龙江大学近四年对全国范围的招生情况进行有效、直观的展示，增强了校方工作人员对数据意义的理解。</p>
						</div>
					</div>
					<div class="col-md-4 col1"  onclick="window.location.href='http://www.baidu.com';">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/nz.jpg"/>
							<figcaption >
								<h4>周期闹钟</h4>
								<p>用户可以按照事件添加周期提醒的APP</p>
							</figcaption>
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>周期闹钟</h3>
							<p>周期闹钟是为了解决用户想要以周期为单位提醒重复性工作的需求，如健身、吃药、背单词等事件。</p>
						</div>
					</div>
				</div>
							<div class="clearfix"> </div>
			</div>
			<div class="col next-col">
				<div class="col2">
					<div class="col-md-4 col1" onclick="window.location.href='http://mp.weixin.qq.com/s?__biz=MzAxOTAzMjE1Ng==&tempkey=6L48NI%2FmwB%2BBjijpkNfYauKSZdA4q2l4d1tOw3kqJTXXTg7lxjXqd%2Fo9myWhtSyodd6%2FwRWoL7RDPxLxZNl2%2Fb7jr7SByZR6z%2FCyeXDmi7chIz732CymVhsZXyEeF%2FJgO6aMO%2BINKEiKrgzJsZlYVA%3D%3D&#rd';">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/ys.jpg" alt=""/>
							<figcaption>
								<h4>友时商城</h4>
								<p>校园知识、技能、经验共享平台，校园版在行</p>
							</figcaption>
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>友时商城</h3>
							<p>找到校园中有经验、技能的同学，把他们的时间或服务出售给需要的同学，通过付费的形式介绍双方认识、交流。</p>
						</div>
					</div>
					<div class="col-md-4 col1" onclick="window.location.href='http://hdbox.ibookpa.com';">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/hdbox.jpg" alt=""/>
							<figcaption>
								<h4>黑大盒子</h4>
								<p>黑龙江大学同学查成绩、查课表、差考场的校内神器</p>
							</figcaption>
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>黑大盒子</h3>
							<p>通过模拟登陆校园网，黑龙江大学同学可以通过黑大盒子查成绩、查课表等校内信息，目前应校方要求自暂停服务。</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="static/images/gd.jpg" alt=""/>
							<figcaption>
								<h4>书趴共读</h4>
								<p>组队对抗惰性，书友二十一天阅读两本书，培养阅读习惯、读书交友</p>
							</figcaption>
						</figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>书趴共读</h3>
							<p>书趴共读通过微信社群，组队对抗惰性、培养阅读习惯、广交书友，每周分享心得笔记，顺利完成的成员获得进入VIP群的资格。</p>
						</div>
					</div>
				</div>
							<div class="clearfix"> </div>
			</div>
			</div>
		</div>
        <script src="{{ url_for('static', filename='/js/responsiveslides.min.js') }}"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="slider">
	 <div class="container">
		   <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				 <li>
					 <h3>书趴（唯有读书·交友才靠谱）是一款基于图书及图书馆场景的校园社交软件，在这里同学们可以发起邀约一起去图书馆看书、自习或是交换自己手中的旧书、求得新学期的教材，甚至可以通过以书会友此般高逼格的借口约到倾慕已久的男神女神。</h3>
				 </li>
				 <li>
					<h3>哈尔滨书趴科技有限公司是一群有想法，有激情的年轻人组建而成的年轻有实力的创业公司。团队成立于2014年3月，公司成立于2014年8月。目前有天使轮融资的需求，团队靠谱牛逼还低调，产品精益求精受欢迎。欢迎有投资意愿的投资人前来洽谈参观。</h3>
				 </li>
				 <li>
					<h3>目前团队主要成员为黑大在校生，也有哈市其他高校同学如哈工大、东北林大等。应届生团队成员已有进入腾讯、百度、360、网易、vivo、知乎、云适配等知名互联网公司实习工作。由于目前公司发展原因，只能接收哈市在校生无薪实习，欢迎缺乏实践经验的同学投递简历。</h3>
				 </li>
			  </ul>
		  </div>
	  </div>
</div>

<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-3 footet-left">
					<h3>商务合作</h3>
					<ul>
						<li><a href="mailto:slh@ibookpa.com">slh@ibookpa.com</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>加入我们</h3>
					<ul>
						<li><a href="http://www.lagou.com/gongsi/48738.html" target="_Blank">投递简历</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>关注微博</h3>
					<ul>
						<li><a href="http://weibo.com/shupa" target="_Blank">@书趴APP</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>微信扫一扫</h3>
					<div class="sub-text">
					<img class="img-responsive" src="/static/images/ewm.jpg" height="120" width="120" alt=""/>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copy-rights">
				<p>版权所有 © ibookpa.com 黑ICP备14006990号</p>
			</div>
		</div>
<!---->
</div>
			<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
	</body>
</html>
